<div class="container">
  <div class="col-md-3">
    <form action="/analytics/update_daterange">
      <div class="form-group">
        <label for="date" class="control-label">
          Start Date
        </label>

        <div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" name="startdate" id="date" value="<%= Game.first.date %>" >
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="date" class="control-label">
          End Date
        </label>

        <div class='input-group date' id='datetimepicker2'>
          <input type='text' class="form-control" name="enddate" id="date" value="<%= Time.now.year %>-<%= Time.now.month %>-<%= Time.now.day %>">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <button type="submit" class="btn btn-default">Update Dates for Analysis</button>
    </form>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label for="game_type" class="control-label">
        Category to Analyze
      </label>

      <%= select_tag(:category, options_from_collection_for_select(Category.all, :theme, :theme ), :class => "form-control")  %>
    </div>
    </div>

    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading" text><b>Summary Statistics</b></div>
          <ul class="list-group">
            <li class="list-group-item">
              All-time total: <%= number_to_currency(Game.total_score, :precision => 0) %>
            </li>
            <li class="list-group-item">
              Average Score: <%= number_to_currency(Game.average_score, :precision => 0) %>
            </li>
            <li class="list-group-item">
              All-time: <%= Game.total_right %>  <i class="fa fa-check"></i>,  <%= Game.total_wrong %>  <i class="fa fa-times"></i>, <%= Game.total_noresp %> --
            </li>
            <li class="list-group-item">
              Average Game: <%= Game.average_numright %>  <i class="fa fa-check"></i>,  <%= Game.average_numwrong %>  <i class="fa fa-times"></i>, <%= Game.average_numnoresp %> --
            </li>
          </ul>
          </div>
<!--       <%= Clue.includes(:category).where(categories: {theme: "Geography"}).map(&:value).sum %>
 -->      </div>
    </div>
  </div>


<!--   <% games_by_date = Game.all.group_by {|game| game.date.to_date} %>
  <% h = {} %>
  <% games_by_date.each {|key, value| h[key.to_s] = value.map(&:score).sum} %>
  <%= h %>
  <%= line_chart h %> -->

  <script type="text/javascript">
    $(function () {
      $('#datetimepicker1').datetimepicker();
    });
  </script>

  <script type="text/javascript">
    $(function () {
      $('#datetimepicker2').datetimepicker();
    });
  </script>
